
/*Heading content*/

#header {
  background: url('/img/daylight-environment-forest-idyllic-459225.jpg') no-repeat center center/cover;
  height: 650px;
}

#header-content h1{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 55px;
  padding-top: 150px;
  color: #fff;
  font-weight: 400;
}

#header-hr{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 20%;
    margin: auto;
}

#header-content p{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-style: italic;
  font-size: 35px;
  padding-top: 5px;
  color: #fff;
}


/* Utillity */
#in-p{
  display:inline;
}

.bgc-light {
  background: #f4f4f4;
  color: #333;
}


